@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
  gap: 10px;
}

.player {
  position: relative;
}

.track-title {
  font-size: 13px;
  position: absolute;
  top: -5px;
  left: 138px;
  width: 150px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.play-item:active::before {
  transform: scale(1.1);
}

.item-active {
  color: #C5B358;
}

.item-active::before {
  filter: invert(45%) sepia(27%) saturate(709%) hue-rotate(13deg) brightness(99%) contrast(89%);
}

.playing::before {
  background-image: url("../assets/svg/pause.svg");
}

.player-icon,
.slider-icon,
.change-quote,
.settings-button {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-button:hover,
.button-lang:hover,
.button-source:hover,
.git-link:hover,
.rss-link:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-button:active,
.button-lang:active,
.button-source:active,
.git-link:active,
.rss-link:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.timeline {
  width: 150px;
  background: #FFFFFF;
  cursor: pointer;
  transition: 0.25s;
}

.progress {
  width: 0%;
  height: 5px;
  background: #C5B358;
  transition: 0.25s;
}

.track-time {
  display: flex;
  font-size: 12px;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
}

.volume {
  width: 20px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/volume.svg");
  cursor: pointer;
}

.muted {
  background-image: url("../assets/svg/mute.svg");
}

.volume-bar {
  width: 60px;
  height: 5px;
  background: #FFFFFF;
  transition: 0.25s;
  cursor: pointer;
}

.volume-bar-percentage {
  width: 100%;
  height: 5px;
  background: #C5B358;
  transition: 0.25s;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 250px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  opacity: 0.6;
  background-image: url("../assets/svg/settings.svg");
  background-size: contain;
}

.settings-container {
  position: absolute;
  bottom: 15px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 295px;
  height: 170px;
  padding: 10px;
  background-color: #000000;
  opacity: .9;
  transition: .3s;
}

.lang-container {
  display: flex;
  align-items: flex-end;
}

.lang-button-container,
.source-button-container,
.blocks-button-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  width: 190px;
}

.button,
.blocks-button,
.source-button {
  height: 25px;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  outline: 0;
  opacity: .5;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: .3s;
}

.button-en,
.button-ru {
  width: 25px;
}

.active {
  opacity: 1;
}

.lang-title,
.source-title,
.blocks-title {
  width: 85px;
  text-align: left;
}

.settings-hidden {
  left: -295px;
}

.source-container {
  display: flex;
  align-items: flex-end;
}

.blocks-container {
  display: flex;
}

.time,
.date,
.greeting-container,
.quote-container,
.weather,
.player {
  transition: 1s ease-in-out;
}

.block-hidden {
  opacity: 0;
}

.info {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: flex-end;
}

.year {
  font-size: 14px;
}

.git-link {
  width: 25px;
  height: 25px;
  background-image: url("../assets/svg/github-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .8;
  transition: .3s;
}

.rss-link {
  width: 60px;
  height: 23px;
  background-image: url("../assets/svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .8;
  transition: .3s;
}

@media (max-width: 768px) {

  .header,
  .main {
    height: unset;
  }


  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 540px) {
  .main {
    min-height: unset;
  }
  .player-controls {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    max-width: 320px;
  }

  .timeline {
    width: 100px;
  }

  .time {
    font-size: 54px;
  }

  .date {
    font-size: 18px;
  }

  .greeting-container {
    flex-direction: column;
  }

  .greeting,
  .name {
    font-size: 22px;
    text-align: center;
  }

  .quote-container {
    font-size: 14px;
  }

  .footer {
    min-height: unset;
    height: unset;
  }

  .change-quote {
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-bottom: 15px;
  }

  .git-link {
    width: 20px;
    height: 20px;
  }

  .rss-link {
    width: 50px;
    height: 19px;
  }
}